body {
	margin: 100px 8px 8px 8px;
	padding: 50px 30px;
 	font-family: Geneva
}

a {
	text-decoration: none;
}

#header_aside {
	text-transform: uppercase;
	position: fixed;
	top: 0;
	left: 0;
	text-align: center;
	width: 100%;
	background: #3f3f3f;
}

#header_aside a {
	color: white;
}

.site-title {
	letter-spacing: 5px;
	margin: 50px;
}

.navbar a {
	float: left;	
}

.navbar ul {
	padding: 0px;
	
	width: 100%;
	
}

.navbar-items {
	letter-spacing: 2px;
	font-size: small;
	float: left;
	background: #2F94A8;
	margin: 0px;

}

.navitem {
	list-style: none;
	display: inline;
}

.navbar-items a {
	padding: 15px 30px;
}

h2 {
	text-align: center;
}
