input[type=text], .lecture-desc, input[type=password] {
  font-weight: 500;
  box-shadow: none;
  margin: 10px 0px;
  padding: 0px 20px;
  background: transparent;
  border: transparent;
  background: #fafafa;
  height: 50px;
  width: 460px;
  font-size: 15px;
  font-weight: 400;
  border-radius: 0;
  letter-spacing: 1px;
}

input[type=text]:active, input[type=text]:focus, 
.lecture-desc:active, .lecture-desc:focus,
input[type=password]:active, input[type=password]:focus {
  outline: none;
  box-shadow: none;
  border-color: transparent;
  background: #f0f0f0;
}

.lecture-desc {
  height: 100px;
  resize: none;
  padding: 15px 20px;
}

button:focus {
  outline: none;
}

#add-edit-form {
	width: fit-content;
	background-color: white;
	margin: 0 auto;
	margin-top: 50px;
	padding: 30px;
	border: 1px solid #999999;
}

.login-title {
	text-transform: uppercase;
	font-size: 20px;
	letter-spacing: 5px;
	position: relative;
}

#add-edit-button, #add-edit-button:visited {
	background: #3daaf1f5;
	color: white;
	border: 1px solid;
	border-radius: 3px;
	font-weight: 300;
	padding: 15px 20px;
	letter-spacing: 1px;
	text-transform: uppercase;
	font-size: 13px;
	cursor: pointer;
	width: 460px;
	margin: 10px 7px 0px 0px;
}

#add-edit-button:hover, #add-edit-button:active {
	color: #3daaf1f5;
	background: transparent;
	border: 1px solid #999999;
}

.user-id, .user-pw {
	float: left;
	color: rgba(0, 0, 0, 0.7);
}

table {
  border-collapse: collapse;
  width: 100%;
  letter-spacing: 1px;
  font-size: 13px;
}

th, td {
  text-align: left;
  padding: 8px;
}

tr:nth-child(even){
	background-color: #f2f2f2;
}

th {
  background-color: #2F94A8;
  color: white;
  letter-spacing: 3px;
}

td, th, tr {
	padding: 15px;
}

#edit-button, #delete-button {
	color: white;
	border: 1px solid;
	border-radius: 3px;
	font-weight: 300;
	padding: 15px 20px;
	letter-spacing: 1px;
	text-transform: uppercase;
	font-size: 13px;
	cursor: pointer;
	width: 50px;
	margin: 5px;
}

#edit-button {
	background: #3daaf1f5;
}

#delete-button {
	background: #f13d3dde;
}

#edit-button:hover {
	background: transparent;
	color: #3daaf1f5;
} 

#delete-button:hover {
	background: transparent;
	color: #f13d3dde;
}

.mypage-date {
	width: 90px;
}

#add-lecture-button, #register-button {
	background: #3daaf1f5;
	color: white;
	border: 1px solid;
	border-radius: 3px;
	font-weight: 300;
	padding: 15px 20px;
	letter-spacing: 1px;
	text-transform: uppercase;
	font-size: 13px;
	cursor: pointer;
	width: 150px;
	margin: 10px 7px 10px 0px;
}

#add-lecture-button:hover {
	color: #3daaf1f5;
	background: transparent;
	border: 1px solid #999999;
}

#register-button:hover {
	color: #3daaf1f5;
	background: transparent;
	border: 1px solid #999999;
}