body {
	padding: 160px 38px 58px 38px;
 	font-family: Geneva;
	position: relative;
	width: 1050px;
	margin: 0 auto;
}

a {
	text-decoration: none;
	color: black;
}

h2 {
	text-align: center;
	margin: 50px 0px;
	letter-spacing: 4px;
	font-size: 30px;
}

.hidden {
	display: none;
}

#header_aside {
	text-transform: uppercase;
	position: fixed;
	top: 0;
	left: 0;
	text-align: left;
	width: 100%;
	background: #3f3f3f;
}

#header_aside a {
	color: white;
}

.site-title {
	letter-spacing: 5px;
	width: 100%;
	font-size: 20px;
}

#mypage-button, #login-button, #logout-button {
	color: white;
	background: transparent;
	border: none;
	text-transform: uppercase;
	font-size: 13px;
	cursor: pointer;
	font-weight: 300;
	letter-spacing: 2px;
	padding: 10px;
}

#mypage-button {
	font-size: 20px;
}

.headerbar{
	display: flex;
	padding: 15px 30px;
}

.navbar a {
	float: left;	
}

.navbar ul {
	padding: 0px;
	width: 100%;
}

.navbar-items {
	letter-spacing: 2px;
	font-size: 12px;
	float: left;
	background: #2F94A8;
	margin: 0px;
}

.navitem {
	list-style: none;
	display: inline;
}

.navbar-items a {
	padding: 15px 30px;
}

.each-lecture {
	margin: auto;
	width: 620px;
	padding: 50px;
}

.each {
	letter-spacing: 1px;
	font-size: 13px;
	padding: 15px;
}

.each-title {
	font-size: 20px;
	border-bottom: 1px solid #dedede;
}

.each-instructor {
	padding-bottom: 10px;
}

.each-desc {
	padding: 0px 15px 15px 30px;
}

.lecture-icon{
	font-size: 100px;
}

.lecture {
	display: inline-block;
	width: 300px;
	margin: 25px;
	letter-spacing: 1px;
	flex-shrink: 1;
	flex-grow:1
}

.lecture-title a {
	text-decoration: none;
}

.lecture-icon {
	text-align: center;
}

.lecture-title {
	margin: 10px 0px;
}

.lecture-container {
	display: flex;
	align-content: flex-end;
	flex-wrap: wrap;
	justify-content: center;
  	margin: 0px;
}