body {
	margin: 110px 8px 8px 8px;
	padding: 50px 30px;
 	font-family: Geneva
}

a {
	text-decoration: none;
}

h2 {
	text-align: center;
	margin: 50px 0px;
	letter-spacing: 4px;
	font-size: 30px;
}

#header_aside {
	text-transform: uppercase;
	position: fixed;
	top: 0;
	left: 0;
	text-align: left;
	width: 100%;
	background: #3f3f3f;
}

#header_aside a {
	color: white;
}

.site-title {
	letter-spacing: 5px;
	padding: 15px 30px;
	width: 100%;
	font-size: 20px;
}

.navbar a {
	float: left;	
}

.navbar ul {
	padding: 0px;
	width: 100%;
}

.navbar-items {
	letter-spacing: 2px;
	font-size: 12px;
	float: left;
	background: #2F94A8;
	margin: 0px;
}

.navitem {
	list-style: none;
	display: inline;
}

.navbar-items a {
	padding: 15px 30px;
}

.each-lecture {
  margin: auto;
  width: 620px;
  padding: 50px;
}

.each {
	letter-spacing: 1px;
	font-size: 13px;
	padding: 15px;
}

.each-title {
	font-size: 20px;
	border-bottom: 1px solid #dedede;
}

.each-instructor {
	padding-bottom: 10px;
}

.each-desc {
	padding: 0px 15px 15px 30px;
}

.lecture-icon{
	font-size: 100px;
}

.lecture {
	display: inline-block;
}





