<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">  

<mapper namespace="LectureMapper">
 
    <insert id="insertLecture">
        INSERT INTO lecture (title, description, link, date, time, instructor_id) VALUES (#{lectureTitle}, #{lectureDesc}, #{lectureLink}, #{lectureDate}, #{lectureTime}, #{instructorId})
    </insert>
    
    <select id="selectUpcomingLecture" resultType="com.osu.lecture.lecture.LectureVO">
    	<![CDATA[
    	SELECT id AS lectureId, title AS lectureTitle, description AS lectureDesc, link AS lectureLink, date AS lectureDate, time AS lectureTime, instructor_id AS instructorId FROM lecture 
    	WHERE date >= DATE(NOW())
    	ORDER BY date ASC
    	]]>
    </select>
    
    <select id="selectPastLecture" resultType="com.osu.lecture.lecture.LectureVO">
    	<![CDATA[
    	SELECT id AS lectureId, title AS lectureTitle, description AS lectureDesc, link AS lectureLink, date AS lectureDate, time AS lectureTime, instructor_id AS instructorId FROM lecture 
    	WHERE date < DATE(NOW())
    	ORDER BY date DESC
    	]]>
    </select>
  	
    <select id="selectMyLecture" parameterType="String" resultType="com.osu.lecture.lecture.LectureVO">
    	<![CDATA[
    	SELECT lecture.id AS lectureId, title AS lectureTitle, description AS lectureDesc, link AS lectureLink, date AS lectureDate, time AS lectureTime, instructor_id AS instructorId FROM lecture 
    	LEFT JOIN user ON lecture.instructor_id = user.id
    	WHERE user.user_id = #{userId}
    	ORDER BY date DESC
    	]]>
    </select>
  
    <select id="detailLecture" resultType="com.osu.lecture.lecture.LectureVO" >
    	SELECT id AS lectureId, title AS lectureTitle, description AS lectureDesc, link AS lectureLink, date AS lectureDate, time AS lectureTime, instructor_id AS instructorId FROM lecture WHERE id = #{lectureId}
    </select>
 
    <delete id="deleteLecture" parameterType="int">
        DELETE FROM lecture WHERE id = #{lectureId}
    </delete>
    
    <update id="updateLecture" parameterType="int">
        UPDATE lecture SET lectureTitle = #{lectureTitle} WHERE lectureId = #{lectureId}
    </update>

</mapper>
