<?xml version="1.0" encoding="UTF-8"?>
 
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.osu.lecture.mapper.lecture-Mapper">
 
    <insert id="insertLecture">
        insert into lecture (title,description,link,date,instructor_id) values(#{lectureTitle},#{lectureDesc},#{lectureLink},SYSDATE(), #{instructorId})
    </insert>
    
     <select id="listLecture" resultType="com.osu.lecture.lecture.service.LectureVO">
    <![CDATA[
    
        select * from lecture
        order by lectureId DESC
    ]]>
    </select>
    
    <select id="detailLecture" resultType="com.osu.lecture.lecture.service.LectureVO">
            select * from lecture where lectureId = #{lectureId}
    </select>
 
    <delete id="deleteLecture">
        delete from lecture where lectureId = #{lectureId}
    </delete>
    
    <update id="updateLecture">
        update lecture set lectureTitle = #{lectureTitle}
    </update>

</mapper>
