<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="UserMapper">

	<select id="loginCheck" resultType="String">
        SELECT * FROM user WHERE user_id = #{userId} AND user_pw = #{userPw}
    </select>
    
    <select id="viewUser" resultType="com.osu.lecture.user.UserVO">
        SELECT user_id AS userID, user_pw AS userPw FROM user WHERE user_id = #{userId} AND user_pw = #{userPw}
    </select>
    
    <insert id="register">
        INSERT INTO user (user_id, user_pw) VALUE (#{userId}, #{userPw})
    </insert>
    
    <select id="selectUserbyId" resultType="String">
    	SELECT * FROM user WHERE user_id = #{userId}
    </select>
</mapper>